<ac-layer acFor="let amat of amat$" [context]="this">
  <ac-circle-desc props="{
    position: amat.position,
    radius: amat.radius,
    material: amat.material
    granularity:0.03,
  }">
  </ac-circle-desc>
</ac-layer>