<ac-layer acFor="let plane of plane$" [context]="this">
    <ac-billboard-desc props="{
        image: plane.image,
        position: plane.position,
        rotation: plane.rotation,
        height: 20,
        width: 15
    }">
    </ac-billboard-desc>
</ac-layer>